/**********************
  General
***********************/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
}

a, a:hover, a:focus {
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

/**********************
  Menu
***********************/
.main-menu {
  margin: 0;
  background-color: white;
  border-radius: 0;
}

.main-menu .navbar-brand {
  background-color: #7bd24d;
  color: white;
}

.main-menu .navbar-toggle .icon-bar {
  background-color: #070f14;
}

@media (min-width: 768px) {
  .main-menu {
    padding: 30px 0;
  }
}

@media (min-width: 768px) {
  .mid-menu li a, .social li a {
    padding: 0;
    margin: 15px 15px;
  }
  .mid-menu li a:hover, .social li a:hover {
    background-color: initial;
    color: #7bd24d;
  }
}

.mid-menu li a {
  color: #070f14;
}

@media (min-width: 768px) {
  .mid-menu {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-65%);
            transform: translateX(-65%);
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .mid-menu {
    font-size: 2.2rem;
  }
}

.social li {
  display: inline-block;
}

.social li a {
  color: #4d748b;
}

/**********************
  Hero
***********************/
.button {
  display: inline-block;
  padding: 20px 45px;
  color: white;
  border: none;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7bd24d), to(#6ab342));
  background: linear-gradient(to bottom, #7bd24d 0%, #6ab342 100%);
}

.button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#7bd24d), to(#6ab342));
  background: linear-gradient(to top, #7bd24d 0%, #6ab342 100%);
}

.hero {
  position: relative;
  padding-top: 90px;
  min-height: 499px;
  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size: 4rem;
  color: white;
  text-align: center;
}

.hero .contact-form {
  position: absolute;
  left: 50%;
  padding: 15px 30px;
  width: 100%;
  max-width: 360px;
  background-color: #FBFAEE;
  border-top: 6px solid #D9D490;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 0px 61px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0px 61px 0px rgba(0, 0, 0, 0.14);
}

.hero .contact-form h3 {
  color: #4F758D;
}

.hero .contact-form h3 span {
  color: #7bd24d;
}

.hero .contact-form input, .hero .contact-form textarea {
  display: block;
  width: 100%;
  margin: 25px 0;
  padding: 7px 10px;
  border: 1px solid #D6DFE1;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 190px;
    min-height: 650px;
  }
  .hero h1 {
    font-size: 7.3rem;
    text-align: left;
  }
  .hero .contact-form {
    left: auto;
    margin-top: 100px;
    max-width: none;
    -webkit-transform: none;
            transform: none;
  }
  .hero .contact-form h3 {
    font-size: 3.6rem;
  }
  .hero .contact-form input, .hero .contact-form textarea {
    padding: 15px 20px;
  }
}

.about {
  padding: 200px 0;
  color: #4d748b;
}

.about h2 {
  font-size: 2.8rem;
  font-weight: 600;
}

.about p {
  font-size: 1.6rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .about {
    padding: 90px 0;
  }
  .about h2 {
    font-size: 3rem;
    font-weight: 600;
  }
  .about p {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

.services {
  padding: 90px 0;
  background-color: #fbfaee;
  color: #4d748b;
}

.services h2 {
  margin-bottom: 30px;
  font-size: 3rem;
  font-size: 600;
}

.services h3 {
  margin-top: 30px;
  font-size: 2.4rem;
  font-weight: 600;
}

.services p {
  margin-bottom: 50px;
  font-size: 1.6rem;
  line-height: 1.5;
}

.services img {
  width: 210px;
  height: 210px;
  padding: 10px;
  background-color: #FBFAEE;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  border-radius: 210px;
}

@media (min-width: 768px) {
  .services h2 {
    margin-bottom: 90px;
  }
  .services p {
    margin-bottom: 90px;
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

.footer {
  padding: 50px 0;
  background-color: #f6f4e2;
  color: #668597;
  text-align: center;
}

.footer p {
  margin-bottom: 30px;
}

.footer .social {
  display: inline-block;
  margin-bottom: 0;
}

.footer .social li a {
  padding: 0;
  margin: 15px 15px;
}

.footer .social li a:hover {
  background-color: initial;
  color: #7bd24d;
}

@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer p {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
